OPENAI_API_KEY="your openai api key"
GROQ_API_KEY="your groq api key"
EMBEDDING_MODEL="sentence-transformers/all-MiniLM-L6-v2"  # or any other model you wish to use
DATABASE_URL="postgresql://myuser:mypassword@localhost:<PORT_ID>/<DB_NAME"
HF_TOKEN="your hf token key"
GITHUB_MODEL_NAME="your suitable model to be ued"
GITHUB_TOKEN="your github token api key"
